{{ define "main" }}
<article class="prov-article">
  <header>
    <h1 class="prov-h1">{{ .Title }}</h1>
    {{ with .Description }}
      <p class="prov-lead">{{ . }}</p>
    {{ end }}
  </header>

  {{ with .Content }}
    <div class="post-body">
      {{ . }}
    </div>
  {{ end }}

  {{/* Navigation */}}
  <nav class="prov-nav">
    <a href="/about/provenance/">All</a>
    <span class="prov-nav__current">Viewing: App</span>
    <a href="/about/provenance/content/">Content Only</a>
  </nav>

  <div class="prov-section">
    {{ partial "provenance-app.html" . }}
  </div>

</article>
{{ end }}

{{ define "scripts" }}
{{- $provJs := resources.Get "js/provenance.js" | minify | fingerprint "sha384" -}}
<script src="{{ $provJs.RelPermalink }}" integrity="{{ $provJs.Data.Integrity }}" defer></script>
{{ end }}
