{{- $src := strings.TrimPrefix "/" (.Get "src") -}}
{{- $alt := .Get "alt" | default "" -}}
{{- $caption := .Get "caption" -}}
{{- $mode := .Get "mode" -}}
{{- $img := resources.Get $src -}}
{{- if $img -}}
<figure class="fig">
  <a href="{{ $img.RelPermalink }}"
     data-pswp-width="{{ $img.Width }}"
     data-pswp-height="{{ $img.Height }}"
     target="_blank"
     rel="noopener">
    <img src="{{ $img.RelPermalink }}"
         width="{{ $img.Width }}"
         height="{{ $img.Height }}"
         alt="{{ $alt }}"
         loading="lazy"{{ if eq $mode "crop" }}
         class="crop"{{ end }}>
  </a>
  {{- with $caption }}
  <figcaption>{{ . }}</figcaption>
  {{- end }}
</figure>
{{- else -}}
<figure class="fig">
  <img src="/{{ $src }}" alt="{{ $alt }}" loading="lazy">
  {{- with $caption }}
  <figcaption>{{ . }}</figcaption>
  {{- end }}
</figure>
{{- end -}}
